DirectoryIndex menta.cgi

RewriteEngine on

#RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !^/static
RewriteRule ^(.*)$ menta.cgi/$1 [L,QSA]

<FilesMatch "(?:\.(?:mt|p[lm])|~)$">
    Order deny,allow
    Deny from All
</FilesMatch>
