% my $docroot = config()->{application}->{docroot}
% my $title   = config()->{application}->{title}
<!doctype html>
<title><%= $title %></title>
<link rel="stylesheet" type="text/css" href="<%= $docroot %>static/style-sites.css">
<script type="text/javascript" src="<%= $docroot %>static/jquery.js"></script>
<script type="text/javascript"><!--
$(function() {
    var $this = $('h1');
    $this.css({background : 'orange'})
         .text($this.text().replace('MENTA', 'めんた'));
});
//--></script>

<h1><%= $title %></h1>
<p><%= localtime time %></p>

<h2>デモ</h2>
<ul>
    <li><a href="<%= $docroot %>form">フォーム</a></li>
    <li><a href="<%= $docroot %>goto_wassr">リダイレクト(Wassr にとびます)</a></li>
    <li><a href="<%= $docroot %>users">DBI(DBI および DBD::CSV がないとエラーになります)</a></li>
    <li><a href="<%= $docroot %>die">エラー画面</a></li>
</ul>
